Sasha.fixed.json
{
  "name": "Sasha",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://web-production-0f5d2.up.railway.app/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "csvFile"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "578ce287-6a29-4ca6-9036-f105b8a95f8e",
      "name": "Upload CSV File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://web-production-0f5d2.up.railway.app/execute",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/plain",
        "body": "=import pandas as pd\n\ndf = pd.read_csv(open_file(\"{{ $json.name }}\"))\n\nresult = {\n    \"shape\": list(df.shape),\n    \"dtypes\": df.dtypes.astype(str).to_dict(),\n    \"head\": df.head(5).to_dict(orient=\"records\"),\n    \"nulls\": df.isna().sum().to_dict(),\n}\nresult\n",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "bd88c4e7-7f27-481e-a05a-b1df76455e86",
      "name": "Execute Python Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        896,
        304
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ \"Analyze this dataset and produce a JSON description of every column.\\n\\nDataset shape: \" + JSON.stringify($json.result.shape) + \"\\nColumn dtypes (pandas): \" + JSON.stringify($json.result.dtypes) + \"\\nNull counts per column: \" + JSON.stringify($json.result.nulls) + \"\\nFirst 5 rows: \" + JSON.stringify($json.result.head) + \"\\n\\nFor every column return:\\n- name: exact column name\\n- dtype: pandas dtype as given\\n- description: short, factual description based ONLY on the column name and the 5 sample rows. Do not invent semantics that are not supported by the data.\" }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a data analyst assistant. Generate structured JSON descriptions of datasets based on provided metadata. Always follow the exact schema format requested. Output JSON only."
        }
      },
      "id": "53d9083c-bde7-491e-b1c0-84dd3370194f",
      "name": "Generate Dataset Description",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1120,
        304
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": {
          "shape": [
            100,
            3
          ],
          "columns": [
            {
              "name": "id",
              "dtype": "int64",
              "description": "Unique identifier for each record"
            },
            {
              "name": "name",
              "dtype": "object",
              "description": "Name of the person"
            },
            {
              "name": "age",
              "dtype": "int64",
              "description": "Age of the person in years"
            }
          ]
        }
      },
      "id": "ca623da9-bc42-4fcd-b6b5-4dcb6c804b15",
      "name": "JSON Schema Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1264,
        528
      ]
    },
    {
      "parameters": {
        "formTitle": "Upload CSV Dataset",
        "formDescription": "Upload a CSV file to analyze",
        "formFields": {
          "values": [
            {
              "fieldLabel": "CSV File",
              "fieldType": "file",
              "fieldName": "csvFile",
              "multipleFiles": false,
              "acceptFileTypes": ".csv",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "d190e86e-ec87-4a27-aee6-5bfa292bdeeb",
      "name": "Upload CSV Form",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        240,
        304
      ],
      "webhookId": "1479fef7-6915-41c6-bdd5-cb3fce17fa73"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        976,
        512
      ],
      "id": "b063c756-33bf-4f0b-9d52-0aecdfd633cd",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "dTLlFs40dXJNhxTf",
          "name": "Mistral Cloud account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Upload CSV Form": {
      "main": [
        [
          {
            "node": "Upload CSV File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload CSV File": {
      "main": [
        [
          {
            "node": "Execute Python Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Python Analysis": {
      "main": [
        [
          {
            "node": "Generate Dataset Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON Schema Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Generate Dataset Description",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Dataset Description",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8eec7f1a-627a-4c00-be1c-b43232d02b05",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2951d18a159f7db360fe21c5fc9e0c6b7d294963d18d285558d46b96fa8f72e0"
  },
  "id": "DnENvmCWGtig07Gu",
  "tags": []
}
